.container {
    display: grid;
    grid-template-columns: 300px 300px 300px;
    column-gap: 20px;
    row-gap: 40px;
    justify-content: center;
    align-items: center;
}

.file{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 10px;
    border: 2px solid #afacac;
    padding: 10px;
}