<form>
    <table>
        <tr>
            <td>Username:</td>
            <td><input type="text" name="username" [(ngModel)]="username"></td>
        </tr>
        <tr>
            <td>Password:</td>
            <td><input type="password" name="password" [(ngModel)]="password"></td>
        </tr>
        <tr>
            <td colspan="2">
                <button (click)="login()">LogIn</button>
            </td>
        </tr>
    </table>
</form>
<a routerLink="/registration">Click to register</a>
<br>
<span style="color: red;">{{message}}</span>
